/* GENERAL */

#root,
.root,
html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

div {
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.banner {
  flex-grow: 1;
}

.boxes {
  height: 300px;
}

.box {
  height: 100%;
}

/* CAROUSEL */
.carousel_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.carousel_slide {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.carousel_buttons .active {
  color: white;
  background-color: black;
}
